In [3]:
#Loading csv customer data

import pandas as pd

customerRaw = pd.read_csv("C:/Users/Admin/MVP_Library_Apprenticeship/python_app/raw_data/03_Library SystemCustomers.csv")
print(customerRaw)

#Cleaning data

df_cleaned = customerRaw.dropna(how='all')
print(df_cleaned)

#Dropping duplicates
df_duplicates = df_cleaned[df_cleaned.duplicated()]
print(df_duplicates)
df_no_duplicates = df_duplicates.drop_duplicates()

#save cleansed data
df_cleaned.to_csv("output/notebook/customerCleaned.csv", index=False)

   Customer ID     Customer Name
0          1.0          Jane Doe
1          2.0        John Smith
2          3.0        Dan Reeves
3          NaN               NaN
4          5.0    William Holden
5          6.0     Jaztyn Forest
6          7.0     Jackie Irving
7          8.0  Matthew Stirling
8          9.0         Emory Ted
   Customer ID     Customer Name
0          1.0          Jane Doe
1          2.0        John Smith
2          3.0        Dan Reeves
4          5.0    William Holden
5          6.0     Jaztyn Forest
6          7.0     Jackie Irving
7          8.0  Matthew Stirling
8          9.0         Emory Ted
Empty DataFrame
Columns: [Customer ID, Customer Name]
Index: []

In [4]:
import pandas as pd

bookRaw = pd.read_csv("C:/Users/Admin/MVP_Library_Apprenticeship/python_app/raw_data/03_Library Systembook.csv")
print(bookRaw)

#Cleaning data
df_cleaned_book = bookRaw.dropna(how='all')

df_cleaned_book_all = df_cleaned_book[~(df_cleaned_book["Books"].isna() & df_cleaned_book["Customer ID"].isna())]
print(df_cleaned_book_all)

#Dropping duplicates
df_duplicates_book = df_cleaned_book_all[df_cleaned_book_all.duplicated()]
print(df_duplicates_book)
df_no_duplicates_book = df_cleaned_book_all.drop_duplicates()

#Cheking types
print(df_no_duplicates_book.dtypes)

#Correcting Date types
# Fix invalid dates manually (replace or remove)
df_no_duplicates_book['Book checkout'] = df_no_duplicates_book['Book checkout'].str.replace('"', '', regex=False)
df_no_duplicates_book['Book checkout'] = df_no_duplicates_book['Book checkout'].apply(
    lambda x: x if len(x.split('/')) == 3 and int(x.split('/')[0]) <= 31 else '01/01/2023'
)
df_no_duplicates_book['Book checkout'] = pd.to_datetime(df_no_duplicates_book['Book checkout'], dayfirst=True)

# Fix invalid dates manually (replace or remove)
df_no_duplicates_book['Book Returned'] = df_no_duplicates_book['Book Returned'].apply(
    lambda x: x if len(x.split('/')) == 3 and int(x.split('/')[0]) <= 31 else '1970-01-01'
)
df_no_duplicates_book['Book Returned'] = pd.to_datetime(df_no_duplicates_book['Book Returned'], dayfirst=True)

print(df_no_duplicates_book.dtypes)


#save cleansed data
df_no_duplicates_book.to_csv("output/notebook/bookCleaned.csv", index=False)

      Id                                     Books Book checkout  \
0    1.0                       Catcher in the Rye   "20/02/2023"
1    2.0          Lord of the rings the two towers  "24/03/2023"
2    3.0  Lord of the rings the return of the kind  "29/03/2023"
3    4.0                                The hobbit  "02/04/2023"
4    5.0                                     Dune   "02/04/2023"
..   ...                                       ...           ...
109  NaN                                       NaN           NaN
110  NaN                                       NaN           NaN
111  NaN                                       NaN           NaN
112  NaN                                       NaN           NaN
113  NaN                                       NaN           NaN

    Book Returned Days allowed to borrow  Customer ID
0      25/02/2023                2 weeks          1.0
1      21/03/2023                2 weeks          2.0
2      25/03/2023                2 weeks          3.0
3      25/03/2023                2 weeks          4.0
4      25/03/2023                2 weeks          5.0
..            ...                    ...          ...
109           NaN                    NaN          NaN
110           NaN                    NaN          NaN
111           NaN                    NaN          NaN
112           NaN                    NaN          NaN
113           NaN                    NaN          NaN

[114 rows x 6 columns]
      Id                                     Books Book checkout  \
0    1.0                       Catcher in the Rye   "20/02/2023"
1    2.0          Lord of the rings the two towers  "24/03/2023"
2    3.0  Lord of the rings the return of the kind  "29/03/2023"
3    4.0                                The hobbit  "02/04/2023"
4    5.0                                     Dune   "02/04/2023"
5    6.0                              Little Women  "02/04/2023"
6    7.0                                        IT  "10/04/2063"
7    8.0                                   Misery   "15/04/2023"
8    9.0                                  Catch 22  "15/04/2023"
9   10.0                              Animal Farm   "20/04/2023"
10  11.0                                      1984  "23/04/2023"
11  12.0                              Little Women  "02/04/2023"
12  13.0                              East of Eden  "30/04/2023"
13  14.0                   America Is in the Heart  "01/05/2023"
14  15.0                         Wuthering Heights  "01/05/2023"
15  16.0                                Dark Tales  "15/05/2023"
16  17.0                        The Bloody Chamber  "32/05/2023"
17  18.0                            Les Miserables  "03/06/2023"
18  19.0                                   Dracula  "10/06/2023"
19  20.0                              Frankenstein  "01/06/2023"

   Book Returned Days allowed to borrow  Customer ID
0     25/02/2023                2 weeks          1.0
1     21/03/2023                2 weeks          2.0
2     25/03/2023                2 weeks          3.0
3     25/03/2023                2 weeks          4.0
4     25/03/2023                2 weeks          5.0
5     01/05/2023                2 weeks          1.0
6     03/04/2023                2 weeks          6.0
7     03/04/2023                2 weeks          7.0
8     16/04/2023                2 weeks          7.0
9     24/04/2023                2 weeks          2.0
10    27/04/2023                2 weeks          8.0
11    01/05/2023                2 weeks          1.0
12    05/05/2023                2 weeks          2.0
13    07/05/2023                2 weeks          3.0
14    10/05/2023                2 weeks          9.0
15    01/06/2023                2 weeks          2.0
16    04/06/2023                2 weeks          3.0
17    07/06/2023                2 weeks          5.0
18    10/07/2023                2 weeks         10.0
19    20/06/2023                2 weeks          2.0
Empty DataFrame
Columns: [Id, Books, Book checkout, Book Returned, Days allowed to borrow, Customer ID]
Index: []
Id                        float64
Books                      object
Book checkout              object
Book Returned              object
Days allowed to borrow     object
Customer ID               float64
dtype: object
Id                               float64
Books                             object
Book checkout             datetime64[ns]
Book Returned             datetime64[ns]
Days allowed to borrow            object
Customer ID                      float64
dtype: object

In [6]:
from sqlalchemy import create_engine # type: ignore

server = 'localhost'
database = 'MVP_Library'
driver = 'ODBC Driver 17 for SQL Server'

connection_string = f'mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver={driver}'
engine = create_engine(connection_string)

import pandas as pd # type: ignore

# Load cleaned CSVs
df_customer = pd.read_csv('C:/Users/Admin/MVP_Library_Apprenticeship/Python_app/output/customerCleanedPy.csv')
df_book = pd.read_csv('C:/Users/Admin/MVP_Library_Apprenticeship/Python_app/output/bookCleanedPy.csv')

# Write to SQL Server
df_book.to_sql('Books', con=engine, if_exists='replace', index=False)
df_customer.to_sql('Customers', con=engine, if_exists='replace', index=False)

print("Data written to SQL Server successfully.")

Data written to SQL Server successfully.